.ScreenSelectorCard {
    cursor: pointer;
    transition: 0.1s all ease-in;
    margin-bottom: 2rem;
}

.ScreenSelectorCard:hover {
    opacity: 0.8;
}

.ScreenSelectorCard.ScreenSelected {
    
}
.ScreenSelected .card-img-overlay {
    background: rgba(14, 196, 84, 0.534);
}

.selected--text {
    font-size: 0.8rem;
    background: #fff;
    color: green;
    padding: 0.2rem 0.4rem;
}

.overlay-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay-container .selected-icon {
    width: 40px;
    height: 40px;
    font-size: 38px;
    position: absolute;
    top: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin:auto;
}