.copraLogo {
    font-size: 2.3rem;
    color:#007aff;
    margin-top: 6rem;
    margin-bottom: 5rem;
}   

.copraLogo span {
    font-weight:200;
    color:#454545;
   
}

.hero-headline {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #323232;
}

.flash-div {
    color: #fbce10
}

.wireframe--logo {
    font-weight: 200;
    text-decoration: underline;
}

